html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

.ie-nope {
	font-size: 30px;
	text-align: center;
	margin: 50px auto;
}

body {
	text-align: center;
}

.trial-main {
        max-width: 1000px;
        min-width: 400px;
	margin: 20px auto;
	display: inline-block;
	opacity: 1;
	-ms-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.trial-main-loading {
	opacity: 1;
}

button {
	background-color: #4CAF50;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
        border: 2px solid #4CAF50;
	padding: 10px 15px;
	font-size: 14px;
}

button:disabled {
	background-color: #678967;
}

button:hover:not(:disabled) {
	background-color: #3A9E39;
	cursor: pointer;
}

button:focus {
	border-color: #555;
}

.big-btn {
	padding: 20px 30px;
        transition: width 0.5s, height 0.5s, background-color 0.5s;
        font-size: 25px;
        line-height: 25px;
}

.big-btn:hover:not(:disabled) {
        background-color: #145614;
}

#number-animation {
	font-size: 120px;
	border-radius: 50%;
	color: #333;
	width: auto;
	height: 160px;
	line-height: 160px;
	display: inline-block;
	text-align: center;
    margin-top: -20px;
}

#number-animation span {
	font-size: 30px;
}

#number-animation-above, #number-animation-below {
	color: black;
	text-align: center;
	padding: 10px;
	font-weight: 200;
	font-size: 25px;
	line-height: 28px;
	margin: 0px;
}

#number-animation-below {
	padding: 0px;
	line-height: 32px;
}

#number-animation-above span, #number-animation-below span {
	color: #ee1112;
}

.jspsych-animation-ticket {
	width: auto;
	height: auto;
	position: fixed;
	top: 50px;
	left: 70px;
	z-index: 999;
}

#ticket-choose-main {
	position: relative;
	text-align: center;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	opacity: 0;
}

#ticket-choose-seq {
    padding: 20px;
    font-size: 24px;
    line-height: 20px;
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 0px 0px 20px 0px;
    background-color: #eee;
}

#ticket-name {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    max-width: 600px;
    margin: auto;
}

#ticket-choose-seq span {
    color: red;
}

#ticket-choose-seq p {
    text-align: left;
}

#ticket-choose-seq-product {
    margin-bottom: 20px;
}

#ticket-choose-seq-avg-wrap {
    font-size: 20px;
    margin: 0px;
}

.ticket-choose-footer {
	position: absolute;
	left: 0;
	right: 0;
	height: auto;
        margin: 10px;
}

.ticket-choose-price span {
        font-size: 25px;
        line-height: 50px;
}

.ticket-choose-price p {
        font-size: 50px;
        line-height: 50px;
}

.ticket-choose-footer button {
	text-align: center;
	margin-bottom: 4px;
}

.ticket-choose-but {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #99f;
    display: inline-block;
    padding: 0;
    margin-left: 4vw; 
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    vertical-align: middle;
}

.ticket-choose-but-sel {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-bottom: 0px;
    font-size: 40px;
    padding: 10px;
}

#ticket-choose-but-wrap {
    text-align: center;
}

#ticket-choose-progress-wrap {
    padding: 20px;
    margin: auto;
    max-width: 600px;
}

#ticket-choose-progress-wrap .progress {
    height: 35px;
}

#ticket-choose-progress {
    font-size: 20px;
    font-weight: 600;
    min-width: 14%;
}

#risk-progress-wrap {
    padding: 10px;
    opacity: 0;
}

#risk-progress-wrap .progress {
    height: 35px;
}

#risk-progress {
    font-size: 20px;
    font-weight: 600;
}

.normal .ticket-img {
    max-height: 350px;
    max-width: 98%;
	display: inline-block;
}

.wheel-loader-wrap {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 0;
	width: 0;
}

.wheel-loader {
    	border: 4px solid #f3f3f3;
    	border-top: 4px solid #db9834;
    	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
    	-webkit-animation: wheel-spin 2s linear infinite;
	-moz-animation: wheel-spin 2s linear infinite;
	-o-animation: wheel-spin 2s linear infinite;
	-ms-animation: wheel-spin 2s linear infinite;
	animation: wheel-spin 2s linear infinite;
	position: absolute;
    	left: -50px;
    	top: -50px;
}


.ie8 .wheel-loader, .ie9 .wheel-loader {
	display: none;
}

@-webkit-keyframes wheel-spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes wheel-spin {
        0% { -moz-transform: rotate(0deg); }
        100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes wheel-spin {
        0% { -o-transform: rotate(0deg); }
        100% { -o-transform: rotate(360deg); }
}

@-ms-keyframes wheel-spin {
        0% { -ms-transform: rotate(0deg); }
        100% { -ms-transform: rotate(360deg); }
}

@keyframes wheel-spin {
 	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.thanks {
	font-size: 50px;
	line-height: 50px;
}

.jspsych-content {
	margin: auto;
}

.final-btn {
	margin-top: 15px;
}

.check-head {
	padding: 15px;
	font-size: 30px;
	line-height: 30px;
}

.check-bot button {
	margin: 5px;
}

.top-alert {
	position: fixed;
	height: 38px;
	top: -40px;
	left: 0;
	right: 0;
	background-color: #e76712;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	color: white;
}

.top-alert.green {
	background-color: #3b9e40;
}

.top-alert.grey {
    background-color: #eee;
    color: black;
}

.risk-canvas-wrap {
    float: left;
    position: relative;
}

#risk-canvas:hover {
    cursor: pointer;
}

#risk-canvas:focus {
    border: 1px solid #aaa;
}

.risk-option {
    margin-bottom: 30px;
    font-size: 25px;
}

#risk-main {
    width: 700px;
}

.risk-low {
    width: 50%;
    float: left;
}

#risk-low-button {
    padding: 20px 40px;
    font-size: 25px;
    margin-top: 10px;
}

#risk-result {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    opacity: 0;
    display: none;
}

.risk-result-inner {
    margin: auto;
    margin-top: 200px;
    width: 90%;
    max-width: 300px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

#risk-result-done {
    margin: 20px 20px 10px 20px;
}

#risk-spinner-result {
    position: absolute;
    bottom: 70px;
    width: 80%;
    background-color: #eee;
    margin: 10%;
    border-radius: 8px;
    padding: 20px 10px;
    display: none;
} 

#risk-spinner-result-no {
    background-color: #F44336;
    border-color: #F44336;
}

.risk-subtext {
    padding: 3px;
    font-size: 14px;
    font-weight: 400;
}
